* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.table {
  padding: 0 30px 0;
  overflow: auto;
  max-width: 1000px;
  min-width: 800px;
}
/*bảng điền thông tin thêm nhân viên-----------------------------------*/
.table h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 20px;
}
#action {
  width: 100%;
  display: flex;
}
#close {
  overflow: hidden;
  background-color: red;
  font-size: 20px;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  margin-left: auto;
}
#close:active {
  background-color: rgb(132, 2, 2);
}
#new, .Add__btn {
  overflow: hidden;
  background-color: #2ecc71;
  font-size: 20px;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}
#new:hover,.Add__btn {
  cursor: pointer;
}
#new:active,.Add__btn:active {
  background-color: #3d8b5dc4;
}
input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 2.5px;
  border-color: rgba(0, 0, 0, 0.304);
  border-radius: 5px;
  background-color: #f9f9f9;
}
/*danh sách nhân viên--------------------------------------------------*/
.Search {
  display: flex;
  margin-top: 20px;
}
#search__btn {
  width: 100px;
  background-color: #f1f3f4;
  border: 1px solid rgba(0, 0, 0, 0.174);
}
#search__btn:hover {
  cursor: pointer;
}
#search__btn:active {
  background-color: rgba(0, 0, 0, 0.189);
}
#tt {
  background-color: rgba(80, 154, 251, 0.871);
}
#table {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.156);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.table th {
  padding: 15px;
}
#list td , #listAdd td{
  text-align: center;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.156);
  max-width: 200px;
  overflow-wrap: break-word;
}
.Delete-btn {
  background-color: rgb(241, 52, 52);
  border: 0;
  border-radius: 3px;
  font-size: 20px;
  padding: 6px;
}
.Delete-btn:hover {
  cursor: pointer;
}
.Delete-btn:active {
  background-color: rgba(241, 52, 52, 0.26);
}
.action {
  display: flex;
  justify-content: center;
}

/*Modal-hộp thoại chung-------------------------------------------------*/
.my_modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
}
/*Modal-hộp thoại thông báo: xóa---------------------------------------*/
.modal_alert_delete {
  position: relative;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, white, rgb(241, 235, 235));
  box-shadow: 10px 0 50px;
  animation: hien 0.3s ease;
}
.modal_alert_delete p {
  margin-bottom: 40px;
  margin-top: 40px;
}
.modal_alert_delete .confirm {
  font-size: 15px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid black;
}
.modal_alert_delete .confirm:hover {
  cursor: pointer;
}
.modal_alert_delete .confirm:active {
  background-color: rgba(0, 0, 0, 0.174);
}

.close__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: 25px;
  width: 30px;
  height: 30px;
  right: 0;
  border: none;
  border-top-right-radius: 5px;
  background: transparent;
}
.close__btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.close__btn:active {
  background-color: rgba(110, 0, 0, 0.634);
  color: white;
}
/*các class dùng chung-------------------------------------------------*/
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.modal__addnv{
  position: relative;
  width: 90%;
  min-width: 700px;
  max-width: 900px;
  background-color: white;
  height: 90vh;
  overflow: auto;
  border-radius: 5px;
  animation: hien 0.3s ease;
}
.modal__addnv input{
  margin-top: 30px;
}
.modal__addnv th{
  padding: 15px;
}
@keyframes hien {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}