* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  display: flex;
}
.header {
  margin-left: 220px;
  width: 100vw;
}
.header h1 {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
