* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.form__hsnv {
  padding: 0 30px 0;
  width: 100%;
  overflow: auto;
}
.form__hsnv h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 20px;
}
#tt {
  background-color: rgba(80, 154, 251, 0.871);
}
#table {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.156);
  border-collapse: collapse;
  width: 100%;
}
.table th {
  padding: 15px;
}
#list td {
  text-align: center;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.156);
}
.Delete-btn {
  background-color: rgb(241, 52, 52);
  border: 0;
  border-radius: 3px;
  font-size: 20px;
  padding: 6px;
  margin-left: 5px;
}
.action {
  display: flex;
  justify-content: center;
}
.table {
  overflow: auto;
  max-width: 900px;
  min-width: 800px;
}
/*Modal-hộp thoại chung-------------------------------------------------*/
.my_modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
}
/*Modal-hộp thoại thông báo: xóa---------------------------------------*/
.modal_alert_delete {
  position: relative;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, white, rgb(241, 235, 235));
  box-shadow: 10px 0 50px;
}
.modal_alert_delete p {
  margin-bottom: 40px;
  margin-top: 40px;
}
.modal_alert_delete .confirm {
  font-size: 15px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid black;
}
.modal_alert_delete button:active {
  background-color: rgba(0, 0, 0, 0.174);
}
