* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.form__hsnv {
  padding: 0 30px 0;
  width: 100%;
  overflow: auto;
}
.form__hsnv h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 20px;
}
input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 2.5px;
  border-color: rgba(0, 0, 0, 0.304);
}
.Search{
  display: flex;
  margin-top: 20px;
  width: 100%;
}
#search__btn{
  width: 100px;
  background-color: #f1f3f4;
  border: 1px solid rgba(0, 0, 0, 0.174);
}
#search__btn:active{
  background-color: rgba(0, 0, 0, 0.189);
}
#tt {
  background-color: rgba(80, 154, 251, 0.871);
}
#table {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.156);
  border-collapse: collapse;
  width: 100%;
}
.table th {
  padding: 15px;
}
#Fix__btn {
  background-color: rgb(242, 234, 16);
  border: 0;
  border-radius: 3px;
  font-size: 20px;
  padding: 6px;
  margin-left: 5px;
}
#Fix__btn:active{
background-color: rgba(242, 234, 16, 0.459);
}
#Xem{
  background-color: rgb(16, 197, 242);
  border: 0;
  border-radius: 3px;
  font-size: 20px;
  padding: 6px;
}
#Xem:active{
    background-color: rgba(16, 197, 242, 0.181);

}
#list td {
  text-align: center;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.156);
}
.Delete-btn {
  background-color: rgb(241, 52, 52);
  border: 0;
  border-radius: 3px;
  font-size: 20px;
  padding: 6px;
  margin-left: 5px;
}
.action {
  display: flex;
  justify-content: center;
}
.table {
  overflow: auto;
  max-width: 900px;
  min-width: 800px;
}
/*Modal-hộp thoại chung-------------------------------------------------*/
.my_modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
}